.newspaperlist {
  margin: 0 auto;
  margin-top: 2em;
  &__paper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(20px, 1fr);
    border: 1px solid black;
    align-items: center;
  }
}
